@font-face {
  font-family: 'alk-icon';
  src: url('fonts/alk-icon.woff2?y2yv46') format('woff2');
  src: url('fonts/alk-icon.woff2?y2yv46') format('woff2'),
    url('fonts/alk-icon.ttf?y2yv46') format('truetype'),
    url('fonts/alk-icon.woff?y2yv46') format('woff'),
    url('fonts/alk-icon.svg?y2yv46#alk-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="alk-icon-"],
[class*=" alk-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'alk-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.alk-icon-asistente-voz:before {
  content: "\e902";
}

.alk-icon-audifonos:before {
  content: "\e904";
}

.alk-icon-audio-portable:before {
  content: "\e905";
}

.alk-icon-microfono:before {
  content: "\e943";
}

.alk-icon-audifonos-deportivos:before {
  content: "\e993";
}

.alk-icon-audio:before {
  content: "\e907";
}

.alk-icon-audio-hogar:before {
  content: "\e906";
}

.alk-icon-bose:before {
  content: "\e912";
}

.alk-icon-sonos:before {
  content: "\e975";
}

.alk-icon-accesorios:before {
  content: "\e901";
}

.alk-icon-cargador:before {
  content: "\ea10";
}

.alk-icon-cable:before {
  content: "\e913";
}

.alk-icon-usb-cable:before {
  content: "\e909";
}

.alk-icon-bateria-externa:before {
  content: "\e9f5";
}

.alk-icon-disco-externo:before {
  content: "\e92c";
}

.alk-icon-accesorios-tv:before {
  content: "\e900";
}

.alk-icon-control-remoto:before {
  content: "\e924";
}

.alk-icon-tetatro-en-casa:before {
  content: "\e97a";
}

.alk-icon-reproductor-video:before {
  content: "\e967";
}

.alk-icon-televisores:before {
  content: "\e97c";
}

.alk-icon-tamano-pantalla-tv:before {
  content: "\e991";
}

.alk-icon-dano-accidental:before {
  content: "\ea27";
}

.alk-icon-mouse:before {
  content: "\e908";
}

.alk-icon-computadores-escritorio:before {
  content: "\e922";
}

.alk-icon-portatiles:before {
  content: "\e927";
}

.alk-icon-computador:before {
  content: "\e921";
}

.alk-icon-monitores:before {
  content: "\e944";
}

.alk-icon-computador-empresarial:before {
  content: "\e994";
}

.alk-icon-antivirus:before {
  content: "\e9f2";
}

.alk-icon-compras-online:before {
  content: "\e920";
}

.alk-icon-computador-all-one:before {
  content: "\ea12";
}

.alk-icon-portatil-gaming:before {
  content: "\e990";
}

.alk-icon-monitor-gaming:before {
  content: "\e9f1";
}

.alk-icon-zona-gamer:before {
  content: "\e98d";
}

.alk-icon-phone:before {
  content: "\e98f";
}

.alk-icon-celular:before {
  content: "\e9b0";
}

.alk-icon-login-code:before {
  content: "\e9ae";
}

.alk-icon-soporte-celular:before {
  content: "\e9f7";
}

.alk-icon-estuche-protector:before {
  content: "\ea2c";
}

.alk-icon-estuche-deportivo:before {
  content: "\ea2d";
}

.alk-icon-tablet:before {
  content: "\e978";
}

.alk-icon-tabletas-digitalizadoras:before {
  content: "\e979";
}

.alk-icon-codigos-digitales:before {
  content: "\e91e";
}

.alk-icon-control-videojuegos:before {
  content: "\e925";
}

.alk-icon-consola-videojuego:before {
  content: "\e928";
}

.alk-icon-nintendo:before {
  content: "\e94b";
}

.alk-icon-xbox:before {
  content: "\e986";
}

.alk-icon-playstation:before {
  content: "\e959";
}

.alk-icon-videojuegos:before {
  content: "\e983";
}

.alk-icon-juegos-de-video:before {
  content: "\e985";
}

.alk-icon-timon-gamer:before {
  content: "\e97d";
}

.alk-icon-armario:before {
  content: "\e90a";
}

.alk-icon-multiestante:before {
  content: "\ea42";
}

.alk-icon-habitacion:before {
  content: "\e938";
}

.alk-icon-mueble:before {
  content: "\e948";
}

.alk-icon-repisa:before {
  content: "\ea56";
}

.alk-icon-biblioteca:before {
  content: "\ea08";
}

.alk-icon-cajonera:before {
  content: "\ea0e";
}

.alk-icon-mesa-tv:before {
  content: "\ea46";
}

.alk-icon-escritorio:before {
  content: "\ea30";
}

.alk-icon-mueble-cocina:before {
  content: "\ea43";
}

.alk-icon-estudio:before {
  content: "\ea2b";
}

.alk-icon-sala:before {
  content: "\e995";
}

.alk-icon-esquinero:before {
  content: "\ea2e";
}

.alk-icon-silla:before {
  content: "\e970";
}

.alk-icon-bancos-plataformas:before {
  content: "\e90b";
}

.alk-icon-puff:before {
  content: "\ea4d";
}

.alk-icon-poltrona:before {
  content: "\ea50";
}

.alk-icon-sillon:before {
  content: "\e971";
}

.alk-icon-sofa:before {
  content: "\e973";
}

.alk-icon-sofacama:before {
  content: "\ea5b";
}

.alk-icon-cocina:before {
  content: "\e91d";
}

.alk-icon-mesa:before {
  content: "\e941";
}

.alk-icon-exterior:before {
  content: "\ea29";
}

.alk-icon-decoracion-exterior:before {
  content: "\e935";
}

.alk-icon-exhibicion:before {
  content: "\ea2a";
}

.alk-icon-almohada:before {
  content: "\e94d";
}

.alk-icon-decoracion:before {
  content: "\e92a";
}

.alk-icon-cojin:before {
  content: "\ea1b";
}

.alk-icon-espejo:before {
  content: "\ea2f";
}

.alk-icon-cuadro:before {
  content: "\ea1e";
}

.alk-icon-caja-organizador:before {
  content: "\ea22";
}

.alk-icon-florero:before {
  content: "\ea33";
}

.alk-icon-maceta:before {
  content: "\ea40";
}

.alk-icon-caneca:before {
  content: "\ea20";
}

.alk-icon-portaretrato:before {
  content: "\ea51";
}

.alk-icon-decoracion-interior:before {
  content: "\ea25";
}

.alk-icon-tapete:before {
  content: "\ea5f";
}

.alk-icon-tapete-bano:before {
  content: "\ea60";
}

.alk-icon-calentador:before {
  content: "\e915";
}

.alk-icon-calefactor:before {
  content: "\ea0f";
}

.alk-icon-climatizacion:before {
  content: "\e91c";
}

.alk-icon-enfriador-aire:before {
  content: "\ea31";
}

.alk-icon-aspiradora:before {
  content: "\e903";
}

.alk-icon-telefono-fijo:before {
  content: "\e97b";
}

.alk-icon-licuadora:before {
  content: "\e93b";
}

.alk-icon-microondas:before {
  content: "\ea45";
}

.alk-icon-plancha:before {
  content: "\e958";
}

.alk-icon-mesa-planchar:before {
  content: "\ea47";
}

.alk-icon-lavado-secado:before {
  content: "\e992";
}

.alk-icon-secador-cabello:before {
  content: "\e96a";
}

.alk-icon-ventilador:before {
  content: "\ea63";
}

.alk-icon-combo:before {
  content: "\ea11";
}

.alk-icon-batidora:before {
  content: "\e9f6";
}

.alk-icon-bateria-cocina:before {
  content: "\e9fa";
}

.alk-icon-olla-presion:before {
  content: "\ea49";
}

.alk-icon-freidora:before {
  content: "\ea34";
}

.alk-icon-vajilla:before {
  content: "\ea62";
}

.alk-icon-hervidor:before {
  content: "\ea36";
}

.alk-icon-cuchillos:before {
  content: "\ea14";
}

.alk-icon-cubiertos:before {
  content: "\e926";
}

.alk-icon-sarten:before {
  content: "\ea58";
}

.alk-icon-nevecon:before {
  content: "\ea07";
}

.alk-icon-refrigeracion:before {
  content: "\e963";
}

.alk-icon-nevera-portatil:before {
  content: "\ea4a";
}

.alk-icon-banera:before {
  content: "\e90c";
}

.alk-icon-accesorios-bano:before {
  content: "\e9e9";
}

.alk-icon-kit-limpieza:before {
  content: "\ea3e";
}

.alk-icon-organizacion-aseo:before {
  content: "\ea48";
}

.alk-icon-toalla:before {
  content: "\ea5d";
}

.alk-icon-lavadora:before {
  content: "\e93a";
}

.alk-icon-secado:before {
  content: "\ea02";
}

.alk-icon-lavadoras-secadoras:before {
  content: "\ea03";
}

.alk-icon-congelador:before {
  content: "\ea05";
}

.alk-icon-minibar:before {
  content: "\ea06";
}

.alk-icon-dispensador:before {
  content: "\ea04";
}

.alk-icon-ropa-cama:before {
  content: "\ea54";
}

.alk-icon-colchon:before {
  content: "\e91f";
}

.alk-icon-protector-colchon:before {
  content: "\ea4e";
}

.alk-icon-cubrecama:before {
  content: "\ea15";
}

.alk-icon-colchon-sencillo:before {
  content: "\ea16";
}

.alk-icon-colchon-semidoble:before {
  content: "\ea17";
}

.alk-icon-colchon-doble:before {
  content: "\ea1a";
}

.alk-icon-colchon-queen:before {
  content: "\ea18";
}

.alk-icon-colchon-king:before {
  content: "\ea19";
}

.alk-icon-bascula:before {
  content: "\e90d";
}

.alk-icon-deportes:before {
  content: "\e92b";
}

.alk-icon-trotadora:before {
  content: "\e980";
}

.alk-icon-bicicleta-estatica:before {
  content: "\e90f";
}

.alk-icon-eliptica:before {
  content: "\e92f";
}

.alk-icon-bicicleta-estatica1:before {
  content: "\ea0a";
}

.alk-icon-eliptica-gym:before {
  content: "\ea32";
}

.alk-icon-plataformas-gym:before {
  content: "\e9f8";
}

.alk-icon-multigimnasio:before {
  content: "\e949";
}

.alk-icon-soporte-tv:before {
  content: "\e977";
}

.alk-icon-training:before {
  content: "\e999";
}

.alk-icon-nutricion-deportiva:before {
  content: "\e94f";
}

.alk-icon-pilates:before {
  content: "\e960";
}

.alk-icon-juegos-deportivos:before {
  content: "\ea38";
}

.alk-icon-smartwatch:before {
  content: "\e966";
}

.alk-icon-monitor-bicicleta:before {
  content: "\ea44";
}

.alk-icon-casco-bicicleta:before {
  content: "\ea1d";
}

.alk-icon-bicicleta:before {
  content: "\e910";
}

.alk-icon-bicicleta-electrica:before {
  content: "\ea09";
}

.alk-icon-bicicleta1:before {
  content: "\ea0b";
}

.alk-icon-triciclo:before {
  content: "\ea5c";
}

.alk-icon-patineta:before {
  content: "\e955";
}

.alk-icon-scooter:before {
  content: "\ea57";
}

.alk-icon-moto:before {
  content: "\e945";
}

.alk-icon-casco-moto:before {
  content: "\e919";
}

.alk-icon-guante-motociclista:before {
  content: "\ea37";
}

.alk-icon-botas:before {
  content: "\ea0d";
}

.alk-icon-chaqueta:before {
  content: "\ea1c";
}

.alk-icon-proteccion:before {
  content: "\ea4f";
}

.alk-icon-carro:before {
  content: "\e947";
}

.alk-icon-car-audio:before {
  content: "\e9c9";
}

.alk-icon-soat:before {
  content: "\e972";
}

.alk-icon-cubreautos:before {
  content: "\ea13";
}

.alk-icon-automovil:before {
  content: "\e998";
}

.alk-icon-camioneta:before {
  content: "\ea21";
}

.alk-icon-bateria-carro:before {
  content: "\e9f9";
}

.alk-icon-llantas:before {
  content: "\e93c";
}

.alk-icon-buscador-llantas:before {
  content: "\ea3a";
}

.alk-icon-runflat:before {
  content: "\e969";
}

.alk-icon-autobus:before {
  content: "\e9dd";
}

.alk-icon-camion:before {
  content: "\e946";
}

.alk-icon-camion-perfil:before {
  content: "\e9c7";
}

.alk-icon-en-transito:before {
  content: "\e933";
}

.alk-icon-truck:before {
  content: "\e9c8";
}

.alk-icon-rastrear-orden:before {
  content: "\e94e";
}

.alk-icon-pedido-entregado:before {
  content: "\e956";
}

.alk-icon-novedad-envio:before {
  content: "\e94c";
}

.alk-icon-viajes:before {
  content: "\e981";
}

.alk-icon-avion:before {
  content: "\e99c";
}

.alk-icon-bebe:before {
  content: "\e90e";
}

.alk-icon-oso-peluche:before {
  content: "\e939";
}

.alk-icon-mundo-nino:before {
  content: "\ea4b";
}

.alk-icon-mundo-nina:before {
  content: "\ea4c";
}

.alk-icon-mascota:before {
  content: "\e93f";
}

.alk-icon-didactico:before {
  content: "\ea23";
}

.alk-icon-bloques-armar:before {
  content: "\ea0c";
}

.alk-icon-instrumento-musical:before {
  content: "\ea35";
}

.alk-icon-juegos-mesa:before {
  content: "\ea39";
}

.alk-icon-dado:before {
  content: "\ea28";
}

.alk-icon-musical:before {
  content: "\ea41";
}

.alk-icon-rompecabeza:before {
  content: "\ea55";
}

.alk-icon-coleccionables:before {
  content: "\e929";
}

.alk-icon-lanzador:before {
  content: "\ea3d";
}

.alk-icon-bombillo-inteligente:before {
  content: "\e911";
}

.alk-icon-comedor-mascotas:before {
  content: "\e98e";
}

.alk-icon-routers:before {
  content: "\e968";
}

.alk-icon-wifi-signal:before {
  content: "\e9fb";
}

.alk-icon-web:before {
  content: "\e984";
}

.alk-icon-casa-inteligente:before {
  content: "\e918";
}

.alk-icon-cerraduras:before {
  content: "\e91a";
}

.alk-icon-camara-seguridad:before {
  content: "\e916";
}

.alk-icon-sensores:before {
  content: "\e96f";
}

.alk-icon-drones:before {
  content: "\e92d";
}

.alk-icon-proyectores:before {
  content: "\e95c";
}

.alk-icon-videocamaras:before {
  content: "\e982";
}

.alk-icon-camara:before {
  content: "\e917";
}

.alk-icon-tripode:before {
  content: "\e97f";
}

.alk-icon-tintas:before {
  content: "\e97e";
}

.alk-icon-multifuncional:before {
  content: "\ea3f";
}

.alk-icon-impresora:before {
  content: "\e937";
}

.alk-icon-software:before {
  content: "\e974";
}

.alk-icon-software-cloud:before {
  content: "\ea5a";
}

.alk-icon-periferico:before {
  content: "\ea52";
}

.alk-icon-micro-sd:before {
  content: "\e942";
}

.alk-icon-teclado:before {
  content: "\ea5e";
}

.alk-icon-maleta:before {
  content: "\e93d";
}

.alk-icon-maleta-viaje:before {
  content: "\ea3c";
}

.alk-icon-instalaciones:before {
  content: "\e99a";
}

.alk-icon-destornillador:before {
  content: "\ea24";
}

.alk-icon-martillo:before {
  content: "\ea3b";
}

.alk-icon-taladro:before {
  content: "\ea61";
}

.alk-icon-ropa:before {
  content: "\e965";
}

.alk-icon-camisa:before {
  content: "\ea53";
}

.alk-icon-panales-adulto:before {
  content: "\e954";
}

.alk-icon-sombrilla:before {
  content: "\ea59";
}

.alk-icon-mercado:before {
  content: "\e940";
}

.alk-icon-canasta:before {
  content: "\e99b";
}

.alk-icon-carrito:before {
  content: "\e9a4";
}

.alk-icon-credit-card:before {
  content: "\e9a3";
}

.alk-icon-tarjeta-alkosto:before {
  content: "\e9ff";
}

.alk-icon-offers:before {
  content: "\e9af";
}

.alk-icon-check:before {
  content: "\e91b";
}

.alk-icon-conoce-mas:before {
  content: "\e923";
}

.alk-icon-close:before {
  content: "\e9aa";
}

.alk-icon-informacion:before {
  content: "\e9cb";
}

.alk-icon-help2:before {
  content: "\e9ab";
}

.alk-icon-help:before {
  content: "\e9a8";
}

.alk-icon-pregunta:before {
  content: "\e9bc";
}

.alk-icon-clock:before {
  content: "\e9ac";
}

.alk-icon-geolocalizacion:before {
  content: "\e9e2";
}

.alk-icon-invoice-number:before {
  content: "\e9ee";
}

.alk-icon-user:before {
  content: "\e9a7";
}

.alk-icon-happy:before {
  content: "\ea00";
}

.alk-icon-sad:before {
  content: "\ea01";
}

.alk-icon-credito-20:before {
  content: "\e9fe";
}

.alk-icon-warning:before {
  content: "\e9a9";
}

.alk-icon-customer-contact:before {
  content: "\e9a6";
}

.alk-icon-phone-contact:before {
  content: "\e9a5";
}

.alk-icon-same-day:before {
  content: "\e99f";
}

.alk-icon-search-mobile:before {
  content: "\e9c4";
}

.alk-icon-llegada-ciudad:before {
  content: "\e9cf";
}

.alk-icon-ver-mapa:before {
  content: "\e9d8";
}

.alk-icon-pin:before {
  content: "\e9d3";
}

.alk-icon-arrive:before {
  content: "\e9d2";
}

.alk-icon-pin-alkosto-ktronix:before {
  content: "\e9df";
}

.alk-icon-pin-kalley:before {
  content: "\e9e0";
}

.alk-icon-inicio-sesion:before {
  content: "\e9b6";
}

.alk-icon-cerrar-sesion:before {
  content: "\e9b7";
}

.alk-icon-domicilio:before {
  content: "\e996";
}

.alk-icon-privacidad:before {
  content: "\e9cd";
}

.alk-icon-home:before {
  content: "\e9e8";
}

.alk-icon-producto-entregado:before {
  content: "\e9d1";
}

.alk-icon-editar:before {
  content: "\e9c2";
}

.alk-icon-lapiz:before {
  content: "\e9e4";
}

.alk-icon-quitar-filtros:before {
  content: "\e961";
}

.alk-icon-eliminar:before {
  content: "\e92e";
}

.alk-icon-factura:before {
  content: "\e9e5";
}

.alk-icon-garantia-extendida:before {
  content: "\e936";
}

.alk-icon-resma-papel:before {
  content: "\e9eb";
}

.alk-icon-catalog:before {
  content: "\e9c6";
}

.alk-icon-datos:before {
  content: "\ea26";
}

.alk-icon-email:before {
  content: "\e930";
}

.alk-icon-email1:before {
  content: "\e9f3";
}

.alk-icon-correo-password:before {
  content: "\e99e";
}

.alk-icon-pedido-cancelado:before {
  content: "\e95d";
}

.alk-icon-pedido-realizado:before {
  content: "\e95e";
}

.alk-icon-pedido-tramitado:before {
  content: "\e95f";
}

.alk-icon-pago-seguro:before {
  content: "\e9d0";
}

.alk-icon-lock:before {
  content: "\e9ad";
}

.alk-icon-estrella:before {
  content: "\e934";
}

.alk-icon-estrella-relleno:before {
  content: "\e997";
}

.alk-icon-like:before {
  content: "\e9d5";
}

.alk-icon-like-linea:before {
  content: "\e9d6";
}

.alk-icon-nuestras-tiendas:before {
  content: "\e950";
}

.alk-icon-pago-en-tienda:before {
  content: "\e951";
}

.alk-icon-recoge-tienda:before {
  content: "\e952";
}

.alk-icon-pago-exitoso:before {
  content: "\e953";
}

.alk-icon-pendiente-pago:before {
  content: "\e957";
}

.alk-icon-realiza-pago:before {
  content: "\e962";
}

.alk-icon-pago-efectivo:before {
  content: "\e9fd";
}

.alk-icon-precio:before {
  content: "\e95b";
}

.alk-icon-porcentaje:before {
  content: "\e95a";
}

.alk-icon-hashtag:before {
  content: "\e9f0";
}

.alk-icon-cookies:before {
  content: "\ea1f";
}

.alk-icon-seguridad:before {
  content: "\e96b";
}

.alk-icon-seguro-celulares:before {
  content: "\e96c";
}

.alk-icon-seguro-vida:before {
  content: "\e96d";
}

.alk-icon-seguros:before {
  content: "\e96e";
}

.alk-icon-garantia:before {
  content: "\e9e1";
}

.alk-icon-reemplazo-producto:before {
  content: "\e9a0";
}

.alk-icon-alistamiento:before {
  content: "\e9ca";
}

.alk-icon-cambio-devoluciones:before {
  content: "\e9da";
}

.alk-icon-direccion-envio:before {
  content: "\e9a1";
}

.alk-icon-devoluciones:before {
  content: "\e932";
}

.alk-icon-my-orders:before {
  content: "\e9a2";
}

.alk-icon-cerrar:before {
  content: "\e9b1";
}

.alk-icon-check-only:before {
  content: "\e9de";
}

.alk-icon-menos:before {
  content: "\e9ce";
}

.alk-icon-plus:before {
  content: "\e9e6";
}

.alk-icon-cerrar1:before {
  content: "\e9e7";
}

.alk-icon-exportar:before {
  content: "\e9c3";
}

.alk-icon-refrescar:before {
  content: "\e9db";
}

.alk-icon-mas:before {
  content: "\e93e";
}

.alk-icon-click:before {
  content: "\e9d9";
}

.alk-icon-empresa-colombiana:before {
  content: "\e931";
}

.alk-icon-arriba:before {
  content: "\e9b2";
}

.alk-icon-abajo:before {
  content: "\e9b3";
}

.alk-icon-izquierda:before {
  content: "\e9b4";
}

.alk-icon-derecha:before {
  content: "\e9b5";
}

.alk-icon-grid-menor-mayor:before {
  content: "\e9b8";
}

.alk-icon-grid-mayor-menor:before {
  content: "\e9ba";
}

.alk-icon-menu:before {
  content: "\e9bb";
}

.alk-icon-lista:before {
  content: "\e9cc";
}

.alk-icon-filter:before {
  content: "\e9b9";
}

.alk-icon-categories:before {
  content: "\e9bd";
}

.alk-icon-flecha-Z-A:before {
  content: "\e9bf";
}

.alk-icon-flecha-A-Z:before {
  content: "\e9be";
}

.alk-icon-flecha-mayor-menor:before {
  content: "\e9c0";
}

.alk-icon-flecha-menor-mayor:before {
  content: "\e9c1";
}

.alk-icon-calendario:before {
  content: "\e914";
}

.alk-icon-fecha:before {
  content: "\e9d4";
}

.alk-icon-envio-gratis:before {
  content: "\e9dc";
}

.alk-icon-gana-50:before {
  content: "\e9e3";
}

.alk-icon-share:before {
  content: "\e9ed";
}

.alk-icon-descuento:before {
  content: "\e99d";
}

.alk-icon-reviews:before {
  content: "\e964";
}

.alk-icon-pse:before {
  content: "\e9fc";
}

.alk-icon-facebook:before {
  content: "\e988";
}

.alk-icon-twitter:before {
  content: "\e989";
}

.alk-icon-whatsapp:before {
  content: "\e98b";
}

.alk-icon-google:before {
  content: "\e98c";
}

.alk-icon-instagram:before {
  content: "\e98a";
}

.alk-icon-youtube:before {
  content: "\e987";
}

.alk-icon-spotify:before {
  content: "\e976";
}

.alk-icon-sistema-operativo:before {
  content: "\e9f4";
}

.alk-icon-netflix:before {
  content: "\e94a";
}

.alk-icon-paramount:before {
  content: "\e9ef";
}

.alk-icon-simbolo-k:before {
  content: "\e9ec";
}

.alk-icon-carnes:before {
  content: "\e9c5";
}

.alk-icon-frutas-verduras:before {
  content: "\e9d7";
}

.alk-icon-alimentos-frescos:before {
  content: "\e9ea";
}

.alk-icon-alimentos:before {
  content: "\ea64";
}

.alk-icon-bebidas:before {
  content: "\ea65";
}

.alk-icon-aseo-hogar:before {
  content: "\ea66";
}

.alk-icon-aseo-personal:before {
  content: "\ea67";
}

.alk-icon-desplazamiento-ciudad:before {
  content: "\ea70";
}

.alk-icon-moto-domicilio:before {
  content: "\ea72";
}

.alk-icon-review:before {
  content: "\ea68";
}

.alk-icon-list:before {
  content: "\ea6a";
}

.alk-icon-position:before {
  content: "\ea6b";
}

.alk-icon-active:before {
  content: "\ea7e";
}

.alk-icon-grid:before {
  content: "\ea74";
}

.alk-icon-question:before {
  content: "\ea75";
}

.alk-icon-i-warning:before {
  content: "\ea7f";
}

.alk-icon-gastos-transporte:before {
  content: "\ea69";
}

.alk-icon-memoria-ram:before {
  content: "\ea6c";
}

.alk-icon-almacenamiento-pc:before {
  content: "\ea6d";
}

.alk-icon-bateria-pc:before {
  content: "\ea6e";
}

.alk-icon-hand-flecha-izquierda:before {
  content: "\ea6f";
}

.alk-icon-hand-flecha-derecha:before {
  content: "\ea71";
}

.alk-icon-reparacion:before {
  content: "\ea73";
}

.alk-icon-averiado:before {
  content: "\ea76";
}

.alk-icon-fallecimidento:before {
  content: "\ea77";
}

.alk-icon-atencion-medica:before {
  content: "\ea78";
}

.alk-icon-incapacidad:before {
  content: "\ea79";
}

.alk-icon-adorno-vineta:before {
  content: "\ea7a";
}

.alk-icon-almacenamiento-celular:before {
  content: "\ea7b";
}

.alk-icon-memoria-celular:before {
  content: "\ea7c";
}

.alk-icon-sistema-operativo-celular:before {
  content: "\ea7d";
}

.alk-icon-producto:before {
  content: "\ea80";
}

.alk-icon-pdf:before {
  content: "\ea81";
}

.alk-icon-rodillo-bicicleta:before {
  content: "\ea82";
}

.alk-icon-accesorios-deportivos:before {
  content: "\ea83";
}