@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?sb5vx4');
  src:  url('fonts/icomoon.eot?sb5vx4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?sb5vx4') format('truetype'),
    url('fonts/icomoon.woff?sb5vx4') format('woff'),
    url('fonts/icomoon.svg?sb5vx4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="alk-icon-"], [class*=" alk-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.alk-icon-accesorios-tv:before {
  content: "\e900";
}
.alk-icon-accesorios:before {
  content: "\e901";
}
.alk-icon-asistente-voz:before {
  content: "\e902";
}
.alk-icon-aspiradora:before {
  content: "\e903";
}
.alk-icon-audifonos:before {
  content: "\e904";
}
.alk-icon-audio-portable:before {
  content: "\e905";
}
.alk-icon-audio-hogar:before {
  content: "\e906";
}
.alk-icon-iaudio:before {
  content: "\e907";
}
.alk-icon-mouse:before {
  content: "\e908";
}
.alk-icon-usb-cable:before {
  content: "\e909";
}
.alk-icon-armario:before {
  content: "\e90a";
}
.alk-icon-bancos-plataformas:before {
  content: "\e90b";
}
.alk-icon-banera:before {
  content: "\e90c";
}
.alk-icon-bascula:before {
  content: "\e90d";
}
.alk-icon-bebe:before {
  content: "\e90e";
}
.alk-icon-bicicleta-estatica:before {
  content: "\e90f";
}
.alk-icon-bicicleta:before {
  content: "\e910";
}
.alk-icon-bombillo-inteligente:before {
  content: "\e911";
}
.alk-icon-bose:before {
  content: "\e912";
}
.alk-icon-cable:before {
  content: "\e913";
}
.alk-icon-calendario:before {
  content: "\e914";
}
.alk-icon-calentador:before {
  content: "\e915";
}
.alk-icon-camara-seguridad:before {
  content: "\e916";
}
.alk-icon-camara:before {
  content: "\e917";
}
.alk-icon-casa-inteligente:before {
  content: "\e918";
}
.alk-icon-casco:before {
  content: "\e919";
}
.alk-icon-cerraduras:before {
  content: "\e91a";
}
.alk-icon-check:before {
  content: "\e91b";
}
.alk-icon-climatizacin:before {
  content: "\e91c";
}
.alk-icon-cocina:before {
  content: "\e91d";
}
.alk-icon-codigos-digitales:before {
  content: "\e91e";
}
.alk-icon-colchon:before {
  content: "\e91f";
}
.alk-icon-compras-online:before {
  content: "\e920";
}
.alk-icon-computador:before {
  content: "\e921";
}
.alk-icon-computadores-escritorio:before {
  content: "\e922";
}
.alk-icon-conoce-mas:before {
  content: "\e923";
}
.alk-icon-control-remoto:before {
  content: "\e924";
}
.alk-icon-control-videojuegos:before {
  content: "\e925";
}
.alk-icon-cubiertoss:before {
  content: "\e926";
}
.alk-icon-portatiles:before {
  content: "\e927";
}
.alk-icon-consola-videojuego:before {
  content: "\e928";
}
.alk-icon-coleccionables:before {
  content: "\e929";
}
.alk-icon-decoracion:before {
  content: "\e92a";
}
.alk-icon-deportes:before {
  content: "\e92b";
}
.alk-icon-disco-externo:before {
  content: "\e92c";
}
.alk-icon-drones:before {
  content: "\e92d";
}
.alk-icon-eliminar:before {
  content: "\e92e";
}
.alk-icon-eliptica:before {
  content: "\e92f";
}
.alk-icon-email1:before {
  content: "\e930";
}
.alk-icon-sendEmail:before {
  content: "\e931";
}
.alk-icon-login-email:before {
  content: "\e932";
}
.alk-icon-en-transito:before {
  content: "\e933";
}
.alk-icon-estrella:before {
  content: "\e934";
}
.alk-icon-decoracion-exterior:before {
  content: "\e935";
}
.alk-icon-garantia-extendida:before {
  content: "\e936";
}
.alk-icon-impresora:before {
  content: "\e937";
}
.alk-icon-habitacion:before {
  content: "\e938";
}
.alk-icon-oso-peluche:before {
  content: "\e939";
}
.alk-icon-lavadora:before {
  content: "\e93a";
}
.alk-icon-licuadora:before {
  content: "\e93b";
}
.alk-icon-lantas:before {
  content: "\e93c";
}
.alk-icon-maleta:before {
  content: "\e93d";
}
.alk-icon-mas:before {
  content: "\e93e";
}
.alk-icon-mascota:before {
  content: "\e93f";
}
.alk-icon-mercado:before {
  content: "\e940";
}
.alk-icon-mesa:before {
  content: "\e941";
}
.alk-icon-micro-sd:before {
  content: "\e942";
}
.alk-icon-microfono:before {
  content: "\e943";
}
.alk-icon-monitores:before {
  content: "\e944";
}
.alk-icon-moto:before {
  content: "\e945";
}
.alk-icon-camion:before {
  content: "\e946";
}
.alk-icon-carro:before {
  content: "\e947";
}
.alk-icon-mueble:before {
  content: "\e948";
}
.alk-icon-multigimnasio:before {
  content: "\e949";
}
.alk-icon-netflix:before {
  content: "\e94a";
}
.alk-icon-nintendo:before {
  content: "\e94b";
}
.alk-icon-novedad-envio:before {
  content: "\e94c";
}
.alk-icon-follow-order:before {
  content: "\e94d";
}
.alk-icon-follow:before {
  content: "\e94e";
}
.alk-icon-nutricin-deportiva:before {
  content: "\e94f";
}
.alk-icon-nuestras-tiendas:before {
  content: "\e950";
}
.alk-icon-payment-in-store:before {
  content: "\e951";
}
.alk-icon-stores:before {
  content: "\e952";
}
.alk-icon-pago-exitoso:before {
  content: "\e953";
}
.alk-icon-paales-adulto:before {
  content: "\e954";
}
.alk-icon-patineta:before {
  content: "\e955";
}
.alk-icon-pedido-entregado:before {
  content: "\e956";
}
.alk-icon-pendiente-pago:before {
  content: "\e957";
}
.alk-icon-placha:before {
  content: "\e958";
}
.alk-icon-playstation:before {
  content: "\e959";
}
.alk-icon-porcentaje:before {
  content: "\e95a";
}
.alk-icon-precio:before {
  content: "\e95b";
}
.alk-icon-proyectores:before {
  content: "\e95c";
}
.alk-icon-pedido-cancelado:before {
  content: "\e95d";
}
.alk-icon-pedido-realizado:before {
  content: "\e95e";
}
.alk-icon-pedido-tramitado:before {
  content: "\e95f";
}
.alk-icon-pilates:before {
  content: "\e960";
}
.alk-icon-quitar-filtros:before {
  content: "\e961";
}
.alk-icon-realiza-pago:before {
  content: "\e962";
}
.alk-icon-refigeracion:before {
  content: "\e963";
}
.alk-icon-reviews:before {
  content: "\e964";
}
.alk-icon-ropa:before {
  content: "\e965";
}
.alk-icon-smartwatch:before {
  content: "\e966";
}
.alk-icon-reproductor-video:before {
  content: "\e967";
}
.alk-icon-routers:before {
  content: "\e968";
}
.alk-icon-runflat:before {
  content: "\e969";
}
.alk-icon-secador-cabello:before {
  content: "\e96a";
}
.alk-icon-seguridad:before {
  content: "\e96b";
}
.alk-icon-seguro-celulares:before {
  content: "\e96c";
}
.alk-icon-seguro-vida:before {
  content: "\e96d";
}
.alk-icon-seguros:before {
  content: "\e96e";
}
.alk-icon-sensores:before {
  content: "\e96f";
}
.alk-icon-silla:before {
  content: "\e970";
}
.alk-icon-sillon:before {
  content: "\e971";
}
.alk-icon-soat:before {
  content: "\e972";
}
.alk-icon-sofa:before {
  content: "\e973";
}
.alk-icon-software:before {
  content: "\e974";
}
.alk-icon-sonos:before {
  content: "\e975";
}
.alk-icon-spotify:before {
  content: "\e976";
}
.alk-icon-soporte-tv:before {
  content: "\e977";
}
.alk-icon-tablet:before {
  content: "\e978";
}
.alk-icon-tabletas-digitalizadoras:before {
  content: "\e979";
}
.alk-icon-teatro-en-casa:before {
  content: "\e97a";
}
.alk-icon-telefono-fijo:before {
  content: "\e97b";
}
.alk-icon-televisores:before {
  content: "\e97c";
}
.alk-icon-timon-gamer:before {
  content: "\e97d";
}
.alk-icon-tintas:before {
  content: "\e97e";
}
.alk-icon-tripode:before {
  content: "\e97f";
}
.alk-icon-trotadora:before {
  content: "\e980";
}
.alk-icon-viajes:before {
  content: "\e981";
}
.alk-icon-videocamaras:before {
  content: "\e982";
}
.alk-icon-videojuegos:before {
  content: "\e983";
}
.alk-icon-web:before {
  content: "\e984";
}
.alk-icon-juegos-de-video:before {
  content: "\e985";
}
.alk-icon-xbox:before {
  content: "\e986";
}
.alk-icon-youtube:before {
  content: "\e987";
}
.alk-icon-facebook:before {
  content: "\e988";
}
.alk-icon-twitter:before {
  content: "\e989";
}
.alk-icon-instagram:before {
  content: "\e98a";
}
.alk-icon-whatsapp:before {
  content: "\e98b";
}
.alk-icon-google:before {
  content: "\e98c";
}
.alk-icon-zona-gamer:before {
  content: "\e98d";
}
.alk-icon-comedor-mascotas:before {
  content: "\e98e";
}
.alk-icon-phones:before {
  content: "\e98f";
}
.alk-icon-notebooks:before {
  content: "\e990";
}
.alk-icon-tv:before {
  content: "\e991";
}
.alk-icon-appliances:before {
  content: "\e992";
}
.alk-icon-audio:before {
  content: "\e993";
}
.alk-icon-games:before {
  content: "\e994";
}
.alk-icon-furniture:before {
  content: "\e995";
}
.alk-icon-schedule:before {
  content: "\e996";
}
.alk-icon-toys:before {
  content: "\e997";
}
.alk-icon-auto:before {
  content: "\e998";
}
.alk-icon-training:before {
  content: "\e999";
}
.alk-icon-hardware:before {
  content: "\e99a";
}
.alk-icon-basket:before {
  content: "\e99b";
}
.alk-icon-plane:before {
  content: "\e99c";
}
.alk-icon-discount:before {
  content: "\e99d";
}
.alk-icon-footer-email:before {
  content: "\e99e";
}
.alk-icon-same-day:before {
  content: "\e99f";
}
.alk-icon-changes:before {
  content: "\e9a0";
}
.alk-icon-delivery-address:before {
  content: "\e9a1";
}
.alk-icon-my-orders:before {
  content: "\e9a2";
}
.alk-icon-credit-card:before {
  content: "\e9a3";
}
.alk-icon-cart:before {
  content: "\e9a4";
}
.alk-icon-phone-contact:before {
  content: "\e9a5";
}
.alk-icon-customer-contact:before {
  content: "\e9a6";
}
.alk-icon-user:before {
  content: "\e9a7";
}
.alk-icon-help:before {
  content: "\e9a8";
}
.alk-icon-warning:before {
  content: "\e9a9";
}
.alk-icon-close:before {
  content: "\e9aa";
}
.alk-icon-help2:before {
  content: "\e9ab";
}
.alk-icon-clock:before {
  content: "\e9ac";
}
.alk-icon-lock:before {
  content: "\e9ad";
}
.alk-icon-login-code:before {
  content: "\e9ae";
}
.alk-icon-offers:before {
  content: "\e9af";
}
.alk-icon-celular:before {
  content: "\e9b0";
}
.alk-icon-clear:before {
  content: "\e9b1";
}
.alk-icon-arrow-up:before {
  content: "\e9b2";
}
.alk-icon-arrow-down:before {
  content: "\e9b3";
}
.alk-icon-arrow-left-square:before {
  content: "\e9b4";
}
.alk-icon-arrow-right-square:before {
  content: "\e9b5";
}
.alk-icon-inicio-sesion:before {
  content: "\e9b6";
}
.alk-icon-cerrar-sesion:before {
  content: "\e9b7";
}
.alk-icon-grid:before {
  content: "\e9b8";
}
.alk-icon-filter:before {
  content: "\e9b9";
}
.alk-icon-settings:before {
  content: "\e9ba";
}
.alk-icon-menu:before {
  content: "\e9bb";
}
.alk-icon-topic:before {
  content: "\e9bc";
}
.alk-icon-categories:before {
  content: "\e9bd";
}
.alk-icon-flecha-A-Z:before {
  content: "\e9be";
}
.alk-icon-flecha-Z-A:before {
  content: "\e9bf";
}
.alk-icon-flecha-mas-lejos:before {
  content: "\e9c0";
}
.alk-icon-flecha-mas-cerca:before {
  content: "\e9c1";
}
.alk-icon-edit:before {
  content: "\e9c2";
}
.alk-icon-exportar:before {
  content: "\e9c3";
}
.alk-icon-searchMobile:before {
  content: "\e9c4";
}
.alk-icon-mapa:before {
  content: "\e9c5";
}
.alk-icon-catalog:before {
  content: "\e9c6";
}
.alk-icon-truck-empty:before {
  content: "\e9c7";
}
.alk-icon-truck:before {
  content: "\e9c8";
}
.alk-icon-car-audio:before {
  content: "\e9c9";
}
.alk-icon-rounded-chat:before {
  content: "\e9ca";
}
.alk-icon-rounded-info:before {
  content: "\e9cb";
}
.alk-icon-rounded-back:before {
  content: "\e9cc";
}
.alk-icon-rounded-arrow-up:before {
  content: "\e9cd";
}
.alk-icon-rounded-list:before {
  content: "\e9ce";
}
.alk-icon-rounded-position:before {
  content: "\e9cf";
}
.alk-icon-rounded-truck:before {
  content: "\e9d0";
}
.alk-icon-box:before {
  content: "\e9d1";
}
.alk-icon-arrive:before {
  content: "\e9d2";
}
.alk-icon-pin:before {
  content: "\e9d3";
}
.alk-icon-calendar:before {
  content: "\e9d4";
}
.alk-icon-heart:before {
  content: "\e9d5";
}
.alk-icon-heart-without-fill:before {
  content: "\e9d6";
}
.alk-icon-star:before {
  content: "\e9d7";
}
.alk-icon-search-scrolled:before {
  content: "\e9d8";
}
.alk-icon-i-warning:before {
  content: "\e9d9";
}
.alk-icon-question:before {
  content: "\e9da";
}
.alk-icon-reload:before {
  content: "\e9db";
}
.alk-icon-back_alt:before {
  content: "\e9dc";
}
.alk-icon-check_4:before {
  content: "\e9dd";
}
.alk-icon-boxcheck:before {
  content: "\e9de";
}
.alk-icon-user-nav:before {
  content: "\e9df";
}
.alk-icon-download:before {
  content: "\e9e0";
}
.alk-icon-pin-rotate:before {
  content: "\e9e1";
}
.alk-icon-printer:before {
  content: "\e9e2";
}
.alk-icon-pencil:before {
  content: "\e9e3";
}
.alk-icon-pencil2:before {
  content: "\e9e4";
}
.alk-icon-order:before {
  content: "\e9e5";
}
.alk-icon-plus:before {
  content: "\e9e6";
}
.alk-icon-close-alt:before {
  content: "\e9e7";
}
.alk-icon-home:before {
  content: "\e9e8";
}
.alk-icon-star-alt:before {
  content: "\e9e9";
}
.alk-icon-search:before {
  content: "\e9ea";
}
.alk-icon-note:before {
  content: "\e9eb";
}
.alk-icon-arrow-both:before {
  content: "\e9ec";
}
.alk-icon-share:before {
  content: "\e9ed";
}
.alk-icon-invoiceNumber:before {
  content: "\e9ee";
}
.alk-icon-pdf:before {
  content: "\e9ef";
}
.alk-icon-num:before {
  content: "\e9f0";
}
.alk-icon-login-option-sms:before {
  content: "\e9f1";
}
.alk-icon-antivirus:before {
  content: "\e9f2";
}
.alk-icon-open-email:before {
  content: "\e9f3";
}
.alk-icon-sistema-operativo:before {
  content: "\e9f4";
}
.alk-icon-tienda-virtual .path1:before {
  content: "\e9f5";
  color: rgb(0, 0, 0);
}
.alk-icon-tienda-virtual .path2:before {
  content: "\e9f6";
  margin-left: -1.0615234375em;
  color: rgb(0, 0, 0);
}
.alk-icon-tienda-virtual .path3:before {
  content: "\e9f7";
  margin-left: -1.0615234375em;
  color: rgb(0, 0, 0);
}
.alk-icon-tienda-virtual .path4:before {
  content: "\e9f8";
  margin-left: -1.0615234375em;
  color: rgb(0, 0, 0);
}
.alk-icon-tienda-virtual .path5:before {
  content: "\e9f9";
  margin-left: -1.0615234375em;
  color: rgb(0, 0, 0);
}
.alk-icon-tienda-virtual .path6:before {
  content: "\e9fa";
  margin-left: -1.0615234375em;
  color: rgb(6, 59, 102);
}
.alk-icon-wifi-signal:before {
  content: "\e9fb";
}
